/05-Stateless Functional Components/Default-Indecision-App-TEMPLATE/node_modules/
/04-React Components/Default-Indecision-App-TEMPLATE/node_modules/
/04-React Components/Default-Indecision-App-TEMPLATE/public/
/03-Hello-React/node_modules/
/03-Hello-React/public/
/02-Setting-up-your-environment/Indecision-App-default/node_modules/
/02-Setting-up-your-environment/Indecision-App-default/public/
/06-Webpack\Default-Indecision-App-TEMPLATE\node_modules
node_modules/
/.idea/
/.vscode/



# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*